<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://telegram.org/js/telegram-web-app.js?56"></script>
    <title>Home</title>
</head>
<style>
    body {
        background-color: #1d1d1d;
        color: #fff;
    }

    .row {
        gap: 10px;
    }

    .col {
        padding: 15px;
        border-radius: 10px;
        background-color: #2f2f32;
        box-shadow: rgba(0, 0, 0, 0.25) 0 7px 15px 0;
    }

    .btn {
        background-color: #0060d0;
        color: #000;
        border: none;
        font-size: 16px;
        font-weight: 700;
    }

    .btn:hover {
        background-color: #62aafd;
        color: #000;
        border: none;
    }

    h3 {
        color: #62aafd;
    }
</style>
<body>
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2" id="h2Id"><i>Выберите вид услуги</i></h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" style="fill: #8d8d8d; background-color: #1d1d1d; border-radius: 7px; padding: 4px;"
                     class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg>
            </div>
            <div>
                <h3>Индивидуальные</h3>
                <p>Здесь вы можете записаться, выбрав удобную вам дату, время и специалиста</p>
                <a href="/book_record/category/" class="btn btn-default" onclick="go_to_service()">
                    Выбрать
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" style="fill: #8d8d8d; background-color: #1d1d1d; border-radius: 7px; padding: 4px;"
                     class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                </svg>
            </div>
            <div>
                <h3>Групповые</h3>
                <p>Здесь вы можете записаться, выбрав удобную вам дату, время и специалиста</p>
                <a href="/book_record/group_services" class="btn btn-default" onclick="go_to_group_service()">
                    Выбрать
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<script>

    const params = new URLSearchParams(Telegram.WebApp.initData);

    window.Telegram.WebApp.ready();
    window.Telegram.WebApp.isActive = true;
    window.Telegram.WebApp.isFullscreen = true;

    const userData = Object.fromEntries(params);
    let userDt = JSON.parse(userData.user);

    let userId = userDt.id || ''
    let fullname = userDt.first_name || ''

    console.log(userId);
    console.log(fullname);

    function go_to_service(){
        localStorage.setItem('user', userId);
        localStorage.setItem('fullname', fullname);
        location.replace('/book_record/category/');
    }

    function go_to_group_service(){
        localStorage.setItem('user', userId);
        localStorage.setItem('fullname', fullname);
        location.replace('/book_record/group_services/');
    }
</script>
</body>
</html>